**/node_modules
**/node_modules/*
**/target
**/elm-stuff
**/elm-stuff/*
**/HelloApp/lib/*
**/HelloWorld/lib/*
**/HelloApp/bin/*
**/HelloWorld/bin/*
*.DS_Store
*.env
**/serverWithState/bin/*
**/serverWithState/vendor/*
**/.serverless/**
**/__pycache__/**
